<div class="container">
    <div class="titulo">
        <h1>Generos</h1>

    </div>
<div class="flex">

    <div  class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/Kings-of-Leon.jpg" alt="" width="200px" height="250px">
        
    </div>

    <div class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
       
    </div>



    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
       
    </div>



    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
      
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
       
    </div>


    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
       
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        
    </div>
</div>
</div>
