

/* ESTILOS CSS */

.body{
  display: flex;
  margin: 0 auto;
  height: auto;
  width: 100%;
   
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.sesion{
    width: 10%;
    background: #292929;
    color:#B4B4B4;
    position: relative;
    top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px; 
}
.icon-user{
    display: none;
}
ul{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 9px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color:#1D7ACE;
}
.li-first:hover {
    background: #292929;
    color:#B4B4B4;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.second{
    display: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.li-first:hover > .second  {
    display: block;
    background: #292929;
    color:#B4B4B4;

}
.buscar{
    background-color: #292929;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 45px;
    border-radius: 5px;
    position: relative;
    top: 15px;
  
}
.busca{
    height: 30px;
    width: 85%;
    position: relative;
    top: 7px;
    border-radius: 5px;
}
button{
    background-color: #292929;
    border: none;
    color: white;
    position: relative;
    top: 7px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover{
    color: #1D7ACE;
}
@media screen and (max-width: 720px){
    .UserName{
        display: none;
    }
    .icon-user{
        display: block;
        font-size: 25px;
    }
}
