

/* ESTILOS CSS */

.body{
  display: flex;
  margin: 0 auto;
  height: auto;
  width: 100%;
   
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.sesion{
    width: 45%;
    height: 40px;
    background: #292929;
    color:#B4B4B4;
    position: relative;
    top: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px; 
    font-size: small;
}
.profile{
    display: flex;
    width: 215px;
}
.profile-img{
    background: grey;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 5%;
    margin-top: 10px;   
}

.profile-img img{
    width: 100%;
    height: 100%;
}


.icon-user{
    display: none;
}
ul{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 9px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color:#1D7ACE;
}
.li-first:hover {
    background: #292929;
    color:#B4B4B4;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 80px;
}
.second{
    display: none;
    width: 80px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.li-first:hover > .second  {
    display: block;
    background: #292929;
    color:#B4B4B4;

}
.buscar{
    background-color: #292929;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 45px;
    border-radius: 5px;
    position: relative;
    top: 40px;
  
}
.busca{
    height: 30px;
    width: 85%;
    position: relative;
    top: 7px;
    border-radius: 5px;
}
button{
    background-color: #292929;
    border: none;
    color: white;
    position: relative;
    top: 7px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover{
    color: #1D7ACE;
}
@media screen and (max-width: 720px){

    .UserName{
        display: none;
    }
    .icon-user{
        display: block;
        font-size: 30px;
    
 
    }
    .profile-img{
        display: none;
    }
    .buscar{
        top: 20px;
        margin-left: 5%;
    }
    .sesion{
        top: 20px;
        margin-left: 25%;
        border-radius: 100%;
        width:60px;
        height: 60px;
    }
}
