<div class="body">
    
    <div class="header">
        <div>
            <i class="fas fa-bars icon"></i>
        </div>
        <div class="buscar">
            <input class="busca" type="text">
            <button height="10px"><i class="icon-search"></i></button>
        </div>
        <div class="profile">
            <i class="icon icon-user"></i>
            <div class="sesion">
                <ul class="ul-first">
                    <li class="li-first">
                        <label class="a-first UserName" href="#">{{changeName.name}}</label>
                        <a class="a-first" href="#"></a>
                        <ul class="second">
                            <li class="li-second">
                                <a class="a-second" [routerLink]="['/management/account']">Cuenta</a>
                            </li>

                            <li class="li-second" *ngIf="changeName.artista === 'true'">
                                <a class="a-second" [routerLink]="['/management/']">Tu librería</a>
                            </li>

                            <li class="li-second">
                                <a type="button" class="a-second" (click)="logout()">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="profile-img">
                <img src="assets/img/default.png" alt="">
            </div>
        </div>
    </div>


</div>