<div class="body">
    <div class="header">
        <div class="buscar">
            <input class="busca" type="text">
            <button height="10px"><i class="icon-search"></i></button>
        </div>
        <div class="profile">
            <div class="sesion">
            <ul class="ul-first">
                <li class="li-first">
                    <label class="a-first UserName" href="#" >{{changeName.name}}</label>
                    <a class="a-first" href="#"><i class="icon-user"></i></a>
                    <ul class="second">
                        <li class="li-second">
                            <a class="a-second" [routerLink]="['/management/account']">Cuenta</a>
                        </li>
                        <li class="li-second">
                            <a class="a-second" [routerLink]="['/management/']">Tu librería</a>
                        </li>
                        <li class="li-second">
                            <a type="button" class="a-second"(click)="logout()">Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            </div>
            <div class="profile-img">
                <img src="" alt="">
            </div>
        </div>
    </div>


</div>