<div class="body">
    <div class="caja">
        <div class="publicidad-login">
            <div class="div-register">
                <button type="button" [routerLink]="['/auth/login']" class="btn btn-outline-primary btn-sm">Iniciar
                    sesión</button>
            </div>
            <img src="./.././../../../assets/img/login-publicidad.jpg" alt="">
        </div>
        <div class="data p-4">
            <div class="title-inicio">
                <label for="" name="inicio_sesion" class="inicio_sesion">Registrarse</label>
            </div>
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="E-mail" [(ngModel)]="userFromHTML.email"
                                placeholder="ejemplo@correo.com" #email="ngModel"
                                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                            <!--Inicio Validaciones email-->
                            <div class="alert alert-danger p-1 text-center mt-1" role="alert"
                                *ngIf="email.errors?.pattern; else elseEmail">
                                El email no cumple con las condiciones
                            </div>
                            <div class="mt-2 alert alert-danger p-1 text-center mt-1" role="alert"
                                *ngIf="email.untouched == false && email.value ==''">
                                Debe proporcionar un correo
                            </div>
                            <ng-template #elseEmail>
                                <div *ngIf="email.value !==''" class="mt-2 alert alert-success p-1 text-center mt-1"
                                    role="alert">
                                    Cumple con las condiciones
                                </div>
                            </ng-template>
                            <!--Fin Validaciones email-->
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" [(ngModel)]="userFromHTML.password" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="user" placeholder="Usuario" required
                                [(ngModel)]="userFromHTML.user">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" placeholder="Nombre"
                                [(ngModel)]="userFromHTML.firstName" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" placeholder="Apellido"
                                [(ngModel)]="userFromHTML.lastName" required>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-sm btn-block button"
                            (click)="createUser()">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
