<div class="body">
    <div class="caja">
        <div class="publicidad-login">
            <div class="div-register">
                <button type="button" [routerLink]="['/auth/login']"  class="btn btn-outline-primary btn-sm">Iniciar sesión</button>
            </div>
            <img src="./.././../../../assets/img/login-publicidad.jpg" alt="">
        </div>
        <div class="data p-4">
            <div class="title-inicio">
                <label for="" name="inicio_sesion" class="inicio_sesion">Registrarse</label>
            </div>
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="E-mail"  [(ngModel)]="userFromHTML.email">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" [(ngModel)]="userFromHTML.password">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="user" placeholder="Usuario" [(ngModel)]="userFromHTML.user">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" placeholder="Nombre" [(ngModel)]="userFromHTML.firstName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" placeholder="Apellido" [(ngModel)]="userFromHTML.lastName">
                        </div>
                        <button type="button"  class="btn btn-outline-primary btn-sm btn-block button" (click)= "createUser()">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>