<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-3">
            <img class="card-img" src="assets/img/cover1.jpeg" alt="No carga">
        </div>

        <div class="col">
            <h1><span class="badge badge-pill badge-dark">{{genero}}</span></h1>
        </div>
        <div class="col-4">
            <button [routerLink]="['/generos']" class="btn btn-outline-secondary">
                Regresar <i class="far fa-arrow-alt-circle-left "></i>

            </button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <table class="table" style="background: white;">
                <thead class="thead-dark">
                    <tr class="bg-info text-center">
                        <th>Imagen</th>
                        <th>#</th>
                        <th>Canción</th>
                        <th>Artista</th>
                        <th>Album</th>
                        <th>Reproducir</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let generos of generoDetalle; let i = index;">
                        <td><img src="{{generos.imgSong}}" alt="" width="50px"></td>

                        <td (click)="favEstado(true); getFavoritos(generos._id)"  *ngIf="!favoritosEstado; else elseFav"  id="fav">
                            <i  class="far fa-heart fa-2x"></i>
                        </td>

                        <ng-template #elseFav>
                            <td (click)="favEstado(false)"><i class="fas fa-heart fa-2x"></i></td>
                        </ng-template>

                        <td>{{generos.nameSong}}</td>
                        <td>{{generos.idAuthor.user}}</td>
                        <td>{{generos.idAlbum.nameAlbum}}</td>

                        <td *ngIf="!estados; else elseBlock" (click)="enviarCancion(generos);estado(true)"
                             class="cambiarColor">

                            <i *ngIf="i!==posiciones" class="far fa-play-circle fa-2x " style="cursor: pointer;"
                                (click)="posicion(i)"></i>
                            <i *ngIf="i===posiciones" class="far fa-play-circle fa-2x " style="cursor: pointer;"></i>

                        </td>

                        <ng-template #elseBlock>
                            <td (click)="estado(false)" class="cambiarColor">

                                <i *ngIf="i===posiciones else play" class="far fa-pause-circle fa-2x"
                                    style="cursor: pointer;"></i>
                                <ng-template #play>
                                    <i class="far fa-play-circle fa-2x " style="cursor: pointer;"
                                        (click)="posicion(i)"></i>
                                </ng-template>

                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>