<div class="container">
    <div class="row mt-5" >
        <div class="col-3">
            <img class="card-img" 
                src="" alt="No carga">
        </div>
    
        <div class="col">
            <h1></h1>
            <h4><span  class="badge badge-pill badge-light"></span></h4>
            <div class="mt-3">
                <a  href="" >Ir a la página del artista</a>
            </div>
        </div>
        <div class="col-4">
            <button [routerLink]="['/']"  class="btn btn-outline-secondary">
                Regresar
            </button>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col">
            <table class="table" style="background: white;">
                <thead class="thead-dark">
                    <tr class="bg-info">
                        <th>Foto</th>
                        <th>Album</th>
                        <th>Canción</th>
                        <th>Vista Previa</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td><img src="" alt="no" class="img-thumb"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
