<div class="container">

    <h5>Bictia Music, nuestro equipo busca liberar el potencial creativo humano:</h5>
    <p>Nuestro equipo de trabajo integra una solución que permite a multiples artistas y dar a conocer
        a sus expresiones de talento.</p>

    <br>
    <div class="container m-4 text-center">
        <div class="row row-cols-4">
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/camilo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Camilo Davila</p>
                        <p class="card-text">Product Owner.</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Bryam.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Bryam Piñeros</p>
                        <p class="card-text">Lider Técnico Front.</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/DMartinez.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">David Martinez </p>
                        <p class="card-text">Desarrollador Front</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Paula.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Paula </p>
                        <p class="card-text">SCRUM Master</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container m-4 text-center">
        <div class="row row-cols-4">
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Nestor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Nestor</p>
                        <p class="card-text">Front</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Lionel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Lionel </p>
                        <p class="card-text">Front.</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/DBalaguera.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">David Balaguera </p>
                        <p class="card-text">Front</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Miguel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Miguel </p>
                        <p class="card-text">Backend</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container m-4 text-center">
        <div class="row row-cols-4">
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Avatar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Jairo</p>
                        <p class="card-text">Backend</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/Avatar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text font-weight-bold">Yesid </p>
                        <p class="card-text">Front.</p>
                    </div>
                </div>
            </div>
        </div>