<div class="container">
  <h2>Gestionar Contenido</h2>
  <br>
  <div class="row mCards">
    <div class="col">
      <div class="mCard">
        <div class="imageContainer">
          <img src="assets/img/add-24px.svg" alt="+" class="plus">
          <img id="artist" src="assets/img/default-artist.png" alt="default-artist" (click)="navigate('track')">
        </div>
        <a [routerLink]="['track']">Añadir Nueva Pista</a>
      </div>
    </div>
    <!-- <div class="col">
      <div class="mCard">
        <div class="imageContainer">
          <img src="assets/img/add-24px.svg" alt="+" class="plus">
          <img src="assets/img/default-cd.png" alt="default-cd" (click)="navigate('artist')">
        </div>
        <a [routerLink]="['artist']">Añadir Nuevo Artista</a>
      </div>
    </div> -->
    <div class="col">
      <div class="mCard">
        <div class="imageContainer">
          <img src="assets/img/add-24px.svg" alt="+" class="plus">
          <img src="assets/img/default-cd.png" alt="default-cd" (click)="navigate('album')">
        </div>
        <a [routerLink]="['album']">Añadir Nuevo Album</a>
      </div>
    </div>
  </div>
</div>
