<div class="container">
  <h2>Añadir Pista</h2>
  <br>
  <form class="form" [formGroup]="form" (ngSubmit)="save()">
    <h4>Info de la Pista</h4>
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Canción: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="nameSong">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Album: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="idAlbum">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Género: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="idGener">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Q: </label>
            <div class="col-md-12">
              <input class="form-control" type="number" formControlName="qualification">
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="file" class="labelfile"><i class="fas fa-upload"></i> Subir audio </label>
          <div class="col-md-12">
            <input class="form-control" type="file" name="file" id="file" class="inputfile" (change)='uploadMP3($event)'>
          </div>
          <div class="container row">
            <button type="submit" class="btn offset-10">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container preview">
    <div class="row">
      <div class="col">
        <h4>Vista Previa</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/img/default-cd.png" alt="default-cd">
      </div>
      <div class="col">
        <p><b>Canción:</b> xxxxx</p>
        <p><b>Artista:</b> xxxxx</p>
        <p><b>Album:</b> xxxxxxx</p>
        <p><b>Género:</b> xxxxxx</p>

        <div class="container row">
          <button class="btn offset-8">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>