
h2{
    color: #0071BC;
}

.btn{
    background: #0071BC;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.form-group input, select{
    background: #DDDDDD;
}

.border-right {
    border-right: 1px solid darkgray;
}

.preview {
    border-top: solid 1px darkgray;
    margin-top: 3rem;
    margin-bottom: 50px;
    padding-top: 2rem;

    .col {
        align-items: center;
    }

    img {
        width: 50%;
    }

}

.inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile, .labelfile{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #0071BC;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}