<div class="container">
  <h2>Añadir Pista</h2>

  <form action="">
    <input type="file" name="file" (change)='uploadFile($event)'>
    <input type="text" name="url" [(ngModel)]="input">
    <br>
  
  
    <div class="imagen-cargada">
      <img *ngIf="(img$ | async) as img" [src]="img" width="100px">
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col">
      <h4>Info de la Pista</h4>
      <form class="form" [formGroup]="form" (ngSubmit)="save()">
        <div class="container">
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Canción: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="nameSong">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Artista: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="idAuthor">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Album: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="idAlbum">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Género: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="idGener" >
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Duration: </label>
            <div class="col-md-12">
              <input class="form-control" type="text" formControlName="durationSong" >
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-6"> Q: </label>
            <div class="col-md-12">
              <input class="form-control" type="number" formControlName="qualification" >
            </div>
          </div>

          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col">
      <h4 style="color: white;">.</h4>
      <div class="form-group">
        <label for="name" class="control-label col-md-6"> Imagen: </label>
        <div class="col-md-12">
          <input class="form-control" type="file">
        </div>
        <div class="container row">
          <button class="btn offset-10">Examinar</button>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-6"> Audio: </label>
        <div class="col-md-12">
          <input class="form-control" type="file">
        </div>
        <div class="container row">
          <button class="btn offset-10">Examinar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container preview">
    <div class="row">
      <div class="col">
        <h4>Vista Previa</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/img/default-cd.png" alt="default-cd">
      </div>
      <div class="col">
        <p><b>Canción:</b> xxxxx</p>
        <p><b>Artista:</b> xxxxx</p>
        <p><b>Album:</b> xxxxxxx</p>
        <p><b>Género:</b> xxxxxx</p>

        <div class="container row">
            <button class="btn offset-8">Agregar</button>
          </div>
      </div>
    </div>
  </div>
</div>



