.form{
    border-right: solid 1px darkgray;
}

h2{
    color: #0071BC;
}

.btn{
    background: #0071BC;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.form-group input, select{
    background: #DDDDDD;
}

.preview {
    border-top: solid 1px darkgray;
    margin-top: 3rem;
    margin-bottom: 50px;
    padding-top: 2rem;

    .col {
        align-items: center;
    }

    img {
        width: 50%;
    }

}