<div class="container">
    <div class="titulo">
        <h1>Artistas</h1>

    </div>
<div class="flex">

    <div  class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Eminem </h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Kings</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="220px">
        <div >
            <h5>The Chainsmokers</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/Kings-of-Leon.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Gotye </h5>
            
        </div>
    </div>

    <div class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Red Hot Chili Peppers</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="220px">
        <div >
            <h5>Fumaratto</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>J Balvin - Morado</h5>
           
        </div>
    </div>
    
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>ELLA es CALLADITA</h5>
           
        </div>
    </div>



    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>The Black Eyed Peas</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Post Malone</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Yiyo Sarante</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>P!nk - Just Give Me A Reason</h5>
           
        </div>
    </div>



    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Ed Sheeran</h5>
            
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="220px">
        <div >
            <h5>P!nk - Just Like A Pill </h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div >
            <h5>Aventurero - Yeison Jiménez </h5>
            
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Jhon Alex Castaño Ft Pipe Bueno</h5>
           
        </div>
    </div>


    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Martin Garrix - Animals</h5>
            
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Camila Cabello - Señorita</h5>
           
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Dua Lipa - Be The One</h5>
            
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="220px">
        <div>
            <h5>Dua Lipa - Scared To Be Lonely</h5>
           
        </div>
    </div>
</div>
</div>
