*{
    padding: 0;
    margin: 0;
    font-family: gotham;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.wrapper{
    display: flex;
    background: #292929;
    width: 250px;
    height: 100%;
}
.wrapper {
        display: flex;
        align-items: stretch;
        transition: all 500ms linear;
}

.sidebar-header{
    padding-top: 20%;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    
}

#sidebar.active {
    margin-left: -250px;
}
.nav{
    display: flex;
    justify-content: center;
    padding-top: 50%;
    padding-right: 0;
    transition: all 500ms linear;
}
.nav a{
    text-decoration: none;
    font-weight: bold;
    color:#B4B4B4;
    transition: all 500ms linear;
}
.nav a:hover{
    color:#1D7ACE;
    font-size: larger;
}
.nav li{
    margin-bottom: 15px;
}