<!-- Sidebar -->
<a href="" class="burguer-button"><img src="https://www.stickpng.com/assets/images/588a6507d06f6719692a2d15.png" width="20px" height="20px" alt=""></a>
<div class="container navside">
        <nav class="sidebar">
            <div class="sidebar-header">
                <img src="assets/img/logo-bictia.png" 
                 alt="">
            </div>
            <div class="nav container">
            <ul class="list-unstyled components">
                <br>
                     <li>
                        <a routerLink="../home/home.module">Inicio</a>
                    </li>
                     <li>
                        <a href="#">Favoritos</a>
                    </li>
                    <li>
                        <a href="#">Generos</a>
                    </li>
                    <li>
                        <a href="#">Artistas</a>
                    </li>
                    <li>
                         <a href="#">Acerca De</a>
                    </li>  
            </ul>
        </div>
        </nav>
       
    </div>
    <script>
        alert('Holi');
    </script>
