<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Sidebar -->
<a href="" class="burguer-button"><img src="https://www.stickpng.com/assets/images/588a6507d06f6719692a2d15.png" width="20px" height="20px" alt=""></a>
<div class="container navside">
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="assets/img/logo-bictia.png" width="80%"
                 alt="">
            </div>
            <div class="nav container">
            <ul class="list-unstyled components">
                <br>
                     <li>
                        <a routerLink="../home/home.module">Inicio</a>
                    </li>
                     <li>
                        <a href="#">Favoritos</a>
                    </li>
                    <li>
                        <a href="#">Generos</a>
                    </li>
                    <li>
                        <a href="#">Artistas</a>
                    </li>
                    <li>
                         <a href="#">Acerca De</a>
                    </li>  
            </ul>
        </div>
        </nav>
       
    </div>
