<!-- Sidebar -->
<div class="container responsive-menu">
<a href=""><i class="icon icon-home"></i> </a>
<a href="#"><i class="icon icon-favorite"></i> </a>
<a href="#"><i class="icon icon-music"></i> </a>
<a href="#"><i class="icon icon-about"></i> </a>
</div>
<div class="container navside">
        <nav class="sidebar">
            <div class="sidebar-header">
                <img src="assets/img/logo-bictia.png" 
                 alt="">
            </div>
            <div class="nav container">
            <ul class="list-unstyled components">
                <br>
                     <li>
                        <a href="#">Inicio</a>
                    </li>
                     <li>
                        <a href="#">Favoritos</a>
                    </li>
                    <li>
                        <a href="#">Generos</a>
                    </li>
                    <li>
                        <a href="#">Artistas</a>
                    </li>
                    <li>
                         <a href="#">Acerca De</a>
                    </li>  
            </ul>
        </div>
        </nav>
       
    </div>
    <script>
        alert('Holi');
    </script>
