*{
  margin: 0;
  padding: 0;
}

.contenedor {
  display: grid;
  grid-template-columns: 19% 50% 31%;
  grid-template-rows: 10% 70% 5% 15%;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.contenedor app-nav-left {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  background: rgb(27, 27, 27);
  height: 90vh;
 
}

.contenedor app-header {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
 // background: rgb(27, 27, 27);
}

.contenedor .router-outlet {
  grid-column: 2/ span 2;
  grid-row: 2/span 2;
  overflow: scroll;
  height: 77vh;
  margin-top: 30px;
}

.contenedor app-music-player {
  grid-column: 1 / span 3;
  grid-row: 4 / span 4;
  z-index: 1 ;
}

@media screen and (max-width: 720px){
    .contenedor {
      grid-template-rows: 5% 55%  25%;
      height: 100vh;
      padding: 0;
      }
   
      .contenedor app-header {
        grid-column: 1 / span 3;
        grid-row: 1 / 1;
      }
      .contenedor .router-outlet {
        grid-column: 1/ span 3;
        grid-row: 2/span 3;
        height: 80vh;
      }
      .contenedor app-music-player {
        grid-column: 1 / span 3;
        grid-row: 4/ 4;
       }
       .contenedor app-nav-left{
        grid-column: 1 / span 3;
        grid-row: 5 / 5;
    
        z-index: 1;

        }
}