
*{
  box-sizing: border-box;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}


.caja-layout {
  display: flex;
  color: aliceblue;
  background: #292929;

}

.cont-header{
  width: 83%;
}


.nav-left{
  width: 15%;
  height: 850px;
}

.header {
  height: 150px;
  display: flex;
  background: white;
}

.main{
  height: 640px;
  background: white;
}

.reproductor{
  width: 98%;
  height: 90px;
}
