<div class="container">

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/banner.jpg" class="d-block h-100" alt="...">
        <div class="carousel-caption d-none d-md-block"><br>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUlpZZhqioeppl6XIOYRhykYuIfJLiQc_AgSCRnw1IoMo2wk1R&usqp=CAU"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

          <h5></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://blogs.glowscotland.org.uk/fi/public/inverkeithinghsmusic/uploads/sites/10406/2018/02/Music-banner-1-1024x341.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>


  </div>

  <div class="container">
    <h2 class="font-weight-bold">Canciones populares</h2>
    <hr>
    <div class="container m-4">
      <div class="row row-col md-6">
        <div class="col mt-4" *ngFor="let songs of song">
          <div class="card bg-light mb-3 " style="width: 16rem;">

            <div class="cont-img"  (click)="reproducir(songs.songFile)">
              <img src="{{songs.imgSong}}" class="card-img-top" alt="...">
              <img src="assets/img/play.jpg" alt="" class="card-img-top play">
            </div>

            <div class="card-body text-center">
              <h5 class="card-text font-weight-bold">{{songs.nameSong}}</h5>
              <p>Genero: {{songs.idGener.nameGener}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>