.cambiarColor{
    i:hover{
        color: rgb(22, 81, 189);
    }
}

#fav{
    i{
        color: rgb(187, 187, 187);
    }

    i:hover{
        color: rgb(149, 12, 12);
    }

    .cod:hover {
        color:rgb(6, 138, 28);
    }
}
