<div class="container">
    <div class="titulo">
        <h3>Favoritos</h3>

    </div>
<div class="flex">
<div class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Red Hot Chili Peppers</h5>
            <p>Lorem i quas nemo praesenem non soluta explicabo tempore omnis quos dicta. Expedita?</p>
        </div>
    </div>
        
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Kings</h5>
            <p>Lorem ipsquam fugit, sequi aure voluptas voluptates esse reprehenderit maiores veniam quam.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="220px" height="240px">
        <div >
            <h5>The Chainsmokers</h5>
            <p>Loremt aperiam sit impedit et excepturi possimus, fugised libero, iure repudiandae et vel?</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/Kings-of-Leon.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Gotye </h5>
            <p>Lorem ipsumsit distinctio suscipit enim debitis dolodolo magnam recusandae cum illo.</p>
        </div>
    </div>

    <div class="text">
        <img src="assets/img/favoritos/descarga.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Red Hot Chili Peppers</h5>
            <p>Lorem i quas nemo praesenem non soluta explicabo tempore omnis quos dicta. Expedita?</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="220px" height="240px">
        <div >
            <h5>Fumaratto</h5>
            <p>Lorem ipsu doloribus cupiditate simitae laborum animi, et repellendus non tempora saepe.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>J Balvin - Morado</h5>
            <p>Lorem ipsum doum veniam quibusdami, et mollitia molestias dolorum repellendus numquam?</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>ELLA es CALLADITA</h5>
            <p>Lorem ipsum dolor sit, acaeatibus fugit neque aut dolore at, eos doloremque provident?</p>
        </div>
    </div>



    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>The Black Eyed Peas</h5>
            <p>Lorem, ipsum dolor et, expedita vel corrupti esse tempora. Ipsa quod repellat blanditiis culpa.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Post Malone</h5>
            <p>Lorem ipsum dolor sit amporibus aliquid exercitationem coias laboriosam sit inventore. Obcaecati.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Yiyo Sarante</h5>
            <p>Lorem, ipsum dolor sit amet consecteaiores delam illghgghghiis deleniti vero aspernatur!</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>P!nk - Just Give Me A Reason</h5>
            <p>Lorem ipsum dolor sit amccusantium itaque iusto aspernatur dolor emilique dignissimos.</p>
        </div>
    </div>



    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Ed Sheeran</h5>
            <p>Lorem ipsum dolor sit amet consect facere nulla doloribus ab voluptatem repudiandae.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="220px" height="240px">
        <div >
            <h5>P!nk - Just Like A Pill </h5>
            <p>Lorem ipsum dolor sit amet consectetur agnam molestgfgfgfdsfgdfgur, sequi tempora neque.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div >
            <h5>Aventurero - Yeison Jiménez </h5>
            <p>Lorem, ipsum dolor sit amet consecttias impedit eaque! Ipsum dolore odit voluptatmolestiae.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div>
            <h5>Jhon Alex Castaño Ft Pipe Bueno</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mol cumque t atque scie co mitationem.</p>
        </div>
    </div>


    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div>
            <h5>Martin Garrix - Animals</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hia, repellat um veniam ipsam inventore.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div>
            <h5>Camila Cabello - Señorita</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elios. Molestiasres consequuntur cumque uia.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="220px" height="240px">
        <div>
            <h5>Dua Lipa - Be The One</h5>
            <p>Lorem ipsum dolor sit amet consectetu Similora? is. Dolores itaque provident ducimus beatae?</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="220px" height="240px">
        <div>
            <h5>Dua Lipa - Scared To Be Lonely</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisiienissimommodi maioibus nobis tempore!</p>
        </div>
    </div>
</div>
</div>