<div class="container">
<div class="flex">
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>Eminem - </h3>
            <p> </p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>Kings</h3>
            <p></p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>The Chainsmokers</h3>
            <p></p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/Kings-of-Leon.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>Gotye </h3>
            <p></p>
        </div>
    </div>
</div>

<div class="flex">
    <div>
        <img src="assets/img/favoritos/Kings-of-Leon.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>Red Hot Chili Peppers - Californication</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint repellendus id itaque quas nemo praesentium architecto quaerat nesciunt, a tenetur veritatis exercitationem non soluta explicabo tempore omnis quos dicta. Expedita?</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>Fumaratto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, omnis. Ad, corrupti. Tenetur doloribus cupiditate similique ipsum, sit ut placeat omnis voluptatum vitae laborum animi, et repellendus non tempora saepe.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h3>J Balvin - Morado</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, soluta. Corporis cupiditate fugit cum veniam quibusdam voluptatem sit laborum odit. Natus sed perspiciatis commodi, et mollitia molestias dolorum repellendus numquam?</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>ELLA es CALLADITA - bad bunny</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis placeat ut porro aliquid obcaecati facilis eaque dolorem, natus inventore quia cum? Necessitatibus fugit neque aut dolore at, eos doloremque provident?</p>
        </div>
    </div>
</div>

<div class="flex">
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>The Black Eyed Peas, J Balvin – RITMO</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate praesentium maxime rerum sit explicabo? Atque mollitia quis repellendus et, expedita vel corrupti esse tempora. Ipsa quod repellat blanditiis culpa.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>Post Malone - "Wow."</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, architecto inventore! Molestias sapiente quasi, ducimus in quisquam ea temporibus aliquid exercitationem corporis et voluptatem dignissimos alias laboriosam sit inventore. Obcaecati.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>Yiyo Sarante - Corazòn de Acero</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur incidunt alias dolores maiores delectus quaerat quibusdam, ipsa ut earum quisquam illum iure eum dignissimos placeat a officiis deleniti vero aspernatur!</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>P!nk - Just Give Me A Reason ft. Nate Ruess</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quis sapiente inventore deleniti adipisci officia dolorum harum assumenda, fugit libero, sit accusantium itaque iusto aspernatur dolor exercitationem iste similique dignissimos.</p>
        </div>
    </div>
</div>

<div class="flex">
    <div>
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>Ed Sheeran - Thinking Out Loud </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et rerum, provident repudiandae quaerat quod eligendi, possimus dolorum laudantium repellat facere nulla doloribus. Facere consectetur earum quo esse ab voluptatem repudiandae.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/fumaratto.jpeg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>P!nk - Just Like A Pill </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam animi laborum natus nostrum commodi eligendi voluptate quidem sit accusantium in, magnam molestias? At sunt voluptate aliquam consequuntur, sequi tempora neque.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>Aventurero - Yeison Jiménez </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias ipsum odio ipsa omnis doloremque. Nisi similique ratione ipsum possimus voluptates molestias impedit eaque! Ipsum dolore odit voluptatem obcaecati molestiae.</p>
        </div>
    </div>
    <div>
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div class="text">
            <h1>Ingrata - Jhon Alex Castaño Ft Pipe Bueno</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reiciendis provident maiores cumque inventore quisquam repellat atque esse, eius, impedit repudiandae molestias. Magni nesciunt, repudiandae consequuntur aut autem modi exercitationem.</p>
        </div>
    </div>
</div>

<div class="flex">
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div>
            <h1>Martin Garrix - Animals</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic omnis, ad ab beatae enim rem soluta, repellat maiores aspernatur, voluptate aliquam nisi blanditiis pariatur ullam. Atque totam veniam ipsam inventore.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div>
            <h1>Shawn Mendes, Camila Cabello - Señorita</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, unde quas debitis necessitatibus quis neque eaque nisi quo quos. Molestias maiores animi atque minima! Laborum sunt asperiores consequuntur cumque quia.</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/emienen.jpg" alt="" width="200px" height="250px">
        <div>
            <h1>Dua Lipa - Be The One</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, non inventore. Nam, commodi! Similique qui cumque accusantium assumenda, magnam tempora? Assumenda eius aspernatur similique perferendis. Dolores itaque provident ducimus beatae?</p>
        </div>
    </div>
    <div class="text">
        <img src="assets/img/favoritos/badbuny.jpg" alt="" width="200px" height="250px">
        <div>
            <h1>Martin Garrix & Dua Lipa - Scared To Be Lonely</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, rem sint quas est ipsa reiciendis praesentium officiis quam maiores dignissimos. Laudantium dolorum nisi nulla commodi maiores recusandae necessitatibus nobis tempore!</p>
        </div>
    </div>
</div>
</div>