<audio id="audio" src="{{ song.songFile }}" controls autoplay hidden="hidden"></audio>

<div class="playerContainer">
    <div class="songInfo">
        <img [src]="imgSrc" alt="default-cd">
        <div class="row-info">
            <h6>{{ songName }}</h6>
            <h6 style="font-size: smaller;"> {{ author }}</h6>
        </div>
    </div>
    <div class="player">
        <div class="controls">
            <i [class]=" 'fa fa-'+state+'-circle fa-2x' " (click)="pSong()" aria-hidden="true"></i>
        </div>
        <div id="bar">
            <span>{{ currentTime }}</span>
            <div id="backBar" (click)="changePos($event)">
                <div id="fill"></div>
                <div id="handle"></div>
            </div>
            <span>{{ totalTime }}</span>
        </div>
    </div>
    <div class="volume">
        <i [class]=" 'fa fa-volume-'+volIcon+' fa-lg'" aria-hidden="true" (click)="setVol()"></i>
        <div id="volBar" (click)="changeVol($event)">
            <div id="volFill"></div>
            <div id="volHandle"></div>
        </div>
    </div>
</div>
