<div class="container general">
    <h4>Editar Perfil</h4>
     <br>
        <div class="row">
            <div class="col">    
                <div class="data-update">
                    <h6>Info de Usuario</h6>
                    <form class="form" [formGroup]="form" novalidate (ngSubmit)="save($event)">
                        <div class="container">
                            <div class="form-group">
                                <label for="name" class="control-label col-md-6">Nombre usuario: </label>
                                <div class="col-md-10">
                                        <input class="form-control" type="text" formControlName="name" [(ngModel)]="changeName.name"> 
                                    </div>
                                    <div class="alert alert-danger p-1 text-center mt-1 col-md-10" role="alert" *ngIf="form.get('name').hasError('required')"> El nombre de usuario es requerido
                                    </div>
                                    <div class="alert alert-danger p-1 text-center mt-1 col-md-10" role="alert" *ngIf="form.get('name').hasError('minLength')"> El nombre de usuario debe tener minimo 4 caracteres
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="email" class="control-label col-md-4">Correo: </label>
                <div class="col-md-10">
                    <input class="form-control" type="text" formControlName="email"  [(ngModel)]="changeName.email">
                </div> 
                <div class="alert alert-danger p-1 text-center mt-1 col-md-10" role="alert"
                        *ngIf="form.get('email').hasError('email') && form.get('email').touched">
                         El email no es valido
                </div>   
            </div>
            <div class="container row form-group">
                <div class="col-md-5">
                    <label for="firstName">Nombre: </label>
                    <input class="form-control" type="text" formControlName="firstName" [(ngModel)]="changeName.firstName">
                </div>  
                 <div class="col-md-5 ml-4">
                    <label for="lastName">Apellido: </label>
                     <input class="form-control" type="text" formControlName="lastName" [(ngModel)]="changeName.lastName">  
                </div> 
            </div>    
            <div class="container row">            
                 <button class="btn offset-8" [disabled]="form.invalid">Guardar</button>
            </div>
                                </div>
                             </form> 
                    </div>
                             <br>
                    <div class="password-update">
                        <h6>Cambiar Contraseña</h6>
                        <form class="form" [formGroup]="passForm" >
                            <div class="container">
                               <div class="form-group">
                                   <label for="email" class="control-label col-md-4">Nueva: </label>
                                   <div class="col-md-10">
                                       <input class="form-control" type="password" formControlName="newPassword">
                                   </div>
                                   <div class="mt-2 alert alert-success p-1 text-center mt-1 col-md-10"
                                   role="alert" >
                                   Escriba una nueva contraseña
                               </div>
                               </div>
                               <div class="form-group">
                                   <label for="age" class="control-label col-md-4">Repetir: </label>
                                   <div class="col-md-10">
                                       <input class="form-control" type="password" formControlName="confirmPassword">
                                   </div>
                               </div>

                                    <button class="btn offset-8">Guardar</button>
                            </div>
                       </form>
                    </div>
            </div>
         <br>
            
            <div class="picture-update col">
                 <h6>Imágen de Perfil</h6>
                    <form class="" [formGroup]="form">
                         <div class="container">
                                <div class="form-group">
                                    <label for="name" class="control-label col-md-4"></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <button class="btn offset-8">Buscar</button>
                                    <div class="container imagen">
                                        <div class="imagen-profile">
                                           <img [src]="changeName.photo" alt="">
                                        </div>
                                    </div>
                                <button class="btn offset-8">Guardar</button>
                        </div>
                    </form>
            </div>
        </div>
