



.general{
    margin: 5%;
    margin-top: 0;
}
.form{
   
    border-right: solid 1px black;
    font-size: 12px;
   
}

h4{
    color: #0071BC;
}

.btn{
    background: #0071BC;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    color: white;
    height: 25px;
}

.form-group input, select{
    background: #DDDDDD;
} 

.imagen-profile, img{
    background:#DDDDDD; ;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.imagen{
    padding: 10%;
}



