.form{
   
    border-right: solid 1px darkgray;
   
}

h2{
    color: #0071BC;
}

.btn{
    background: #0071BC;
    font-weight: bold;
    color: white;
}

.form-group input, select{
    background: #DDDDDD;
} 

.imagen-profile{
    background:#DDDDDD; ;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.imagen{
    padding: 10%;
    margin-top: 10%;
}