<div class="container">
  <h2>Editar Perfil</h2>
  <br>
  <div class="row">
    <div class="col">
      <div class="data-update">
        <h4>Info de Usuario</h4>
        <form class="form">
          <div class="container">
            <div class="form-group">
              <label for="name" class="control-label col-md-6">Nombre usuario: </label>
              <div class="col-md-10">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-md-4">Correo: </label>
              <div class="col-md-10">
                <input class="form-control" type="mail">
              </div>
            </div>
            <div class="container row form-group">
              <div class="col-md-3">
                <label for="age">Edad: </label>
                <input class="form-control" type="number">
              </div>
              <div class="col-md-7">
                <label for="option">Sexo: </label>
                <select class="form-control" id="option">
                  <option value="">Femenino</option>
                  <option value="">Masculino</option>
                  <option value="">Otro...</option>
                </select>
              </div>
            </div>
            <div class="container row">
              <button class="btn offset-8">Guardar</button>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="password-update">
        <h4>Cambiar Contraseña</h4>
        <form class="form">
          <div class="container">
            <div class="form-group">
              <label for="name" class="control-label col-md-4">Actual: </label>
              <div class="col-md-10">
                <input class="form-control" type="password">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-md-4">Nueva: </label>
              <div class="col-md-10">
                <input class="form-control" type="password">
              </div>
            </div>
            <div class="form-group">
              <label for="age" class="control-label col-md-4">Repetir: </label>
              <div class="col-md-10">
                <input class="form-control" type="password">
              </div>
            </div>

            <button class="btn offset-8">Guardar</button>
          </div>
        </form>
      </div>
    </div>
    <br>

    <div class="picture-update col">
      <h4>Imágen de Perfil</h4>
      <form class="">
        <div class="container">
          <div class="form-group">
            <label for="name" class="control-label col-md-4"></label>
            <div class="col-md-10">
              <input class="form-control" type="text">
            </div>
          </div>
          <button class="btn offset-8">Buscar</button>
          <div class="container imagen">
            <div class="imagen-profile">

            </div>
          </div>
          <button class="btn offset-8">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
